*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    background-color:  rgb(109, 87, 87);
    background-image: url(img/pexels-hngstrm-1939485.jpg);
}
.pic{
    width: 150px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    margin: 20px 50px;

    
}

ul{
    display: flex;
    gap: 14px;
    list-style-type: none;
    margin-top: 10px; 
}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    transition: 3s;
}
li:hover{
    transition: 3s;
    transform: scale(1.2);
    background-color: rgb(73, 33, 33);
}

img{
    width: 300px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}
div{
    text-align: center;
    cursor: pointer;
    transition: 4s;
}
img{
    transition: 3s;
    
}
img:hover{
    transform: scale(1.1);
}
.new{
    width: 300px;
    height: 375px;
}
button{
    margin: 5px;
    border-radius: 5px;
    transition: 3s;

}
button:hover{
    transition: 3s;
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color:black;
}

footer{
    text-align: center;
    font-size: 19px;
    color: rgb(100, 100, 100);
    background-color:rgb(0, 0, 0);
}

.foot{
    width: 50px;
}
.wif{
    margin: 10px 10px;
}


@media(max-width:480px){
    .hamburger-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        color: #fff;
      }
      
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        cursor: pointer;
      }
      
      .hamburger span {
        width: 25px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
      }
      
    
    nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    margin: 20px 10px;
    
    }
 .nav-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  }

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.show {
  display: block;
}
.pic{
    width: 100px;
}
footer{
    width: 480px;
    text-align: center;
    font-size: 12px;
    color: rgb(100, 100, 100);
    background-color:rgb(0, 0, 0);
}

.foot{
    width: 50px;
}
.wif{
    margin: 10px 10px;
}

}


@media(max-width:380px){

    .hamburger-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        color: #fff;
      }
      
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        cursor: pointer;
      }
      
      .hamburger span {
        width: 25px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
      }
      
    
    nav{
    display: flex;
    justify-content: space-around;
    gap: 120px;
    align-items: center;
    font-size: medium;
    margin: 20px 10px;
    
    }
 .nav-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  }

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.show {
  display: block;
}
.pic{
    width: 80px;
}
footer{
    width: 415px;
    text-align: center;
    font-size: 10px;
    color: rgb(100, 100, 100);
    background-color:rgb(0, 0, 0);
}

.foot{
    width: 50px;
}
.wif{
    margin: 10px 10px;
}
}